[mysqld]
# 트랜잭션 격리 (Nextcloud 권장)
transaction_isolation = READ-COMMITTED

# 전역 문자셋/콜레이션
character-set-server = utf8mb4
collation-server      = utf8mb4_0900_ai_ci

# 타임존(간편 오프셋) — tzdata/타임존 테이블 없이 사용 가능
#default_time_zone = '+09:00'

# 역방향 DNS 해석 끄기(접속 빨라짐)
skip-name-resolve
